[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style.git
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
